[submodule ".cargo"]
	path = .cargo
	url = https://github.com/lemonrock/.cargo.git
[submodule "lib/nvml"]
	path = lib/pmdk
	url = https://github.com/pmem/pmdk.git
[submodule "tools/bindgen-wrapper"]
	path = tools/bindgen-wrapper
	url = https://github.com/lemonrock/bindgen-wrapper.git
